*{
	box-sizing:border-box;
}

/**{
	 outline: 1px solid red !important;
}*/

body {
    background-image: url("../images/sky.jpg");
}

.title {
	  padding-top: 25px;
      padding-bottom: 25px;
      text-align: center;

}

.description{
    padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
}

.reference{
    padding-top: 25px;
  padding-bottom: 25px;
  
}

